.taskbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-color);
  height: var(--taskbar-height);
  z-index: var(--taskbar-z-index);
  width: var(--taskbar-width);
  align-self: center;
}

.osButton {
  background-color: red;
  width: 10%;
  height: 100%;
}

.utilities {
  background-color: green;
  width: 12%;
  height: 100%;
}
