.cellContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.cellImage {
  object-fit: fill;
  width: 5vmin;
}

.cellText {
  font-size: 1rem;
  text-align: center;
}
