.windowBar {
  width: 100%;
  height: 40px;
  background-color: rgb(75, 9, 126);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.windowBarTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.windowBarIcon {
  width: 20px;
  height: 20px;
}

.windowBarButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
