.desktopContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.desktop {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, minmax(0%, 100%));
  grid-template-rows: repeat(6, minmax(0%, 100%));
  gap: 1px;
}
